body {
    font-family: Verdana;
margin: 0;
}
. apple-pie-recipe {
background-image: url("../images/apple-pie.jpg");
 background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
. apple-pie-recipe h1 {
    font-size: 60px;
  color: #fff;
  font-weight: lighter;
}
.container {
    margin: 0 75px 0 75px;
}
.info-img {
    margin: 0 auto;
  display: block;
  width: 45%;
  height: auto;
}
.paragraph {
    font-size: 20px;
  margin-top: 65px;
  text-align: justify;
}
.section-title {
    font-size: 20px;
  font-weight: lighter;
}
hr {
    border-top: solid 2px #989898;
}
.ingredient-list {
    list-style: none;
}
.ingredient-list li::before {
    content: "- ";
}
.directions-list {
    counter-reset: list;
  list-style: none;
}
.directions-list li::before {
    counter-increment: list;
  content: counter(list) ". ";
}
li {
    padding: 3px 0;
}